html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #FAF0E6;
  margin: 0;
  padding: 0;
  text-align: left;
}
header, footer, a, .About, .Projects, .Contact, .Resume{
  color: #352F44;
}

/* HEADER */
header {
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  background-color: #D7C9D6;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

}

/* HEADER TEKSTI */
header h1{
  font-family: "Ms Madi", 'roboto', sans-serif;
  font-size: 5rem;
  margin: 0;
  padding: 10px 0px;
}
/*oma title (cse)*/
header p {
  font-size: 1.3rem;
  margin: 0;
}
/* NAVIGATION */
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 10px;

}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 1px;
  padding: 0;
  margin: 0;
}

/* NAVIGATION ITEM */
nav ul li {
  padding: 15px 25px;
  border-radius: 5px;
  text-transform: uppercase;

}
a {
  text-decoration: none;
}
a:hover {
  color: #7A5FA4;
  text-decoration: underline;
}
.RM a:hover {
  text-decoration: none;
}

.About, .Projects, .Contact, .Resume {
  display: block;
  margin: 20vh 10%;
  padding: 10px;
  width: 80%;
  scroll-margin-top: 50px;
}

.About {
  margin-top: 10vh;
}
/* FOOTER */
footer {
  border-radius: 20px 20px 0 0;
  background-color: #D7C9D6;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

}
.RM {
  font-family: "Ms Madi", 'roboto', sans-serif;
  font-size: 2.5rem;
  margin: 0;
  top: -15px;
  position: relative;
}

.Resume ul {
  list-style-type: none;
  display: inline-block;
  gap: 20px;
  padding: 0;
  margin: 0;
}
.Resume ul li a, .Contact div a {
  text-decoration: none;
  color: #a511b5;
}
.Resume ul li a:hover, .Contact div a:hover {
  color: #7A5FA4;
  text-decoration: underline;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 250px;
  margin: 2%;
  padding: 10px;
  width: 40%;
  background-color: #D7C9D6;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 750px) {
  .project-card {
    width: 80%;
  }
  
}